<% if (post.prev || post.next){ %>
  <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
    <% if (post.prev){ %>

      <a href="<%- url_for(post.prev.path) %>" class="prev-post text-left d-flex align-items-center">
        <div class="icon prev">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="text">
          <strong class="text-primary">Veja também</strong>
          <h6>
            <% if (post.prev.title){ %>
              <%= post.prev.title %>
                <% } else { %>
                  (no title)
                  <% } %>
          </h6>
        </div>
      </a>
      <% } %>
        <% if (post.next){ %>

          <a href="<%- url_for(post.next.path) %>" class="next-post text-right d-flex align-items-center justify-content-end">
            <div class="text">
              <strong class="text-primary">Veja também </strong>
              <h6>
                <% if (post.next.title){ %>
                  <%= post.next.title %>
                    <% } else { %>
                      (no title)
                      <% } %>
              </h6>
            </div>
            <div class="icon next">
              <i class="fa fa-angle-right"> </i>
            </div>
          </a>
  </div>
  <% } %>
<% } %>