<div class="widget search">
    <header>
      <h3 class="h6">Pesquise no blog</h3>
    </header>
    <form action="#" class="search-form">
      <div class="form-group">
        <input type="search" placeholder="O que você procura">
        <button type="submit" class="submit">
          <i class="icon-search"></i>
        </button>
      </div>
    </form>
  </div>